<main class="container">
    <h1>{{title}}</h1>
    <ul class="products">
        <li *ngFor="let product of products"
            [class.selected]="product === selectedProduct"
            (click)="onSelect(product)">
            <span class="image">{{product.image}}</span> {{product.name}}
        </li>
    </ul>
    <div *ngIf="selectedProduct">
        <h2>{{selectedProduct.name}}</h2>
        <div><label>id: </label> {{selectedProduct.id}}</div>
        <div><label>name: </label> {{selectedProduct.name}}</div>
    </div>

</main>