<main class="container-fluid">
    <h1 class="text-center text-uppercase">{{title}}</h1>
    <div class="row products">
        <div class="col-sm-3 list-product" *ngFor="let product of products"
             [class.selected]="product === selectedProduct">
             <div class="product-card"
                  [routerLink]="['/product', product.id]">
                  <!--(click)="gotoProduct(product)">-->
                <img [src]="product.image" class="img-responsive img-circle">
                <h4>{{product.name}}</h4>
             </div>
        </div>
        </div>

    <!--<router-outlet></router-outlet>-->
    <!--<product-detail [product]="selectedProduct"></product-detail>-->
    <!--<div *ngIf="selectedProduct">-->
        <!--<h2>-->
            <!--{{selectedProduct.name | uppercase}} is my product-->
        <!--</h2>-->
        <!--<button (click)="gotoProduct()">View Details</button>-->
    <!--</div>-->
</main>