<div class="row">
    <div class="col-xs-12">
        <form id="list-add">
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label for="item-name">Fruit</label>
                    <input type="text" id="item-name" required class="form-control">
                </div>

                <div class="col-sm-6 form-group">
                    <label for="item-description">Description</label>
                    <input type="text" id="item-description" required class="form-control">
                </div>

                <div class="col-sm-2 form-group">
                    <label for="item-price">Price</label>
                    <input type="text" id="item-price" required class="form-control">
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit">Add</button>
                    <button class="btn btn-danger" type="button">Delete Item</button>
                    <button class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>