html, body{
    font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, sans-serif;
}
.active {
    color: yellowgreen !important;
}
.navbar{
    color: darkgreen !important;
}
.navbar-brand:hover{
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}
