<div *ngIf="product" class="col-sm-12">
    <div class="row">
        <div class="col-sm-5">
            <img [src]="product.image" class="img-responsive img-circle">
            <button (click)="goBack()" class="btn">Back</button>
        </div>
        <div class="col-sm-7 about">
            <h1 class="col-sm-6">{{product.name}}</h1>
            <div class="col-sm-6 edit-buttons pull-right">
                <button class="btn btn-success" (click)="onAddToShoppingBag()">To Shopping List</button>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </div>
            <div class="col-sm-12">
                <hr>
            </div>

            <dl class="dl-horizontal">
                <dt>Description</dt>
                <dd class="description">{{product.description}}</dd>
                <dt>Price</dt>
                <dd class="price">{{product.price | currency:'UAH': true}}</dd>
            </dl>
        </div>
    </div>
    <!--</div>-->
</div>
<shopping-list></shopping-list>
<!--<div class="row">-->
    <!--<div class="col-xs-12">-->
        <!--<ul class="list-group">-->
            <!--<li class="list-group-item" *ngFor="let product of product">{{product.name}} ({{product.price}})</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

